<%= turbo_frame_tag 'question' do %>
  <div class="my-2 mx-4">
    <%= render @question %>
  </div>

  <%# edit qn %>
  <div class="mx-6">
    <% if policy(@question).edit? %>
      <%= turbo_frame_tag 'edit-question' do %>
        <%#= link_to 'edit qn', edit_question_path(@question), class: 'btn btn-sm' %>
      <% end %>
    <% end %>
  </div>

  <%# answers %>
  <div class="mx-4">
    <% unless  @question.answers.nil? %>
      <h2 class="underline my-2 mx-4"><%= pluralize(@question.answers.count, 'answer')%></h2>

      <%# broadcast to answers channel %>
      <%= turbo_stream_from 'answers' %>

      <div id='answers' class="mx-4 px-4">
        <% @question.answers.each do |ans| %>
          <div>
            <%= ans.body %>
          </div>
        <% end %>
      </div>
      <div class="my-2 flex justify-end">
        <%# answer the qn %>
        <%= turbo_frame_tag Answer.new %>
        <%= link_to 'ans', new_question_answer_path(@question), class: 'inline-block px-4 py-2 leading-none border rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none', data: {turbo_frame: dom_id(Answer.new)} %>
      </div>
    <% end %>
  </div>



<% end %>

