<div class='mb-24'>
  <div class="bg-gray-100 py-6">
    <div class="flex flex-wrap px-6">
      <div class="w-full md:w-1/2 p-6 flex items-center justify-center">
        <%= image_tag("math.jpg", class: "w-full rounded-lg max-w-lg")%>
      </div>
      <div class="w-full md:w-1/2 p-6 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg p-6">
          <h3 class="font-bold text-lg text-center pb-2">Math Guru</h3><span class="px-4"><i>So many Courses on sale</i></span>
          <p class="text-gray-800 text-lg font-medium text-center">Learning one calculation at a time. Become a better Math student by subscribing to available courses, that cut all across the board.</p>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class='p-4 px-8'>
      <h2 class='text-4xl mt-4'>A broad selection of Courses</h2>
      <p class='text-xl px-4 py-4'>Choose from 1,000 online video courses with new additions published every month<span class="font-small text-sm flex justify-end mr-4"><%= link_to 'view more', courses_path %></span></p>
      <%# show a dialoque of all courses, change view on click %>
        <div class=" px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4">
          <% @courses.each do |course| %>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden min-h-200">
              <div class="px-4 py-2">
                <%= link_to course.title, course %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
    <div class='bg-gray-100 px-8 py-4 mt-4'>
      <h2 class='font-bold text-lg p-4'>Students are viewing</h2>
      <%# display a grid view of courses with highest enrollment in desc order %>
        <div class=" px-4 mb-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4">
          <% @courses.each do |course| %>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden min-h-200">
              <div class="px-4 py-2">
                <%= course.description %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
    <div class='p-4 px-8'>
      <h2 class='font-bold text-lg p-4'>Featured Lessons by Topics</h2>
      <%# display most viewed lessons and the course/section they fall under %>
        <div class=" px-4 mb-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4">
          <% @courses.each do |course| %>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden min-h-200">
              <div class="px-4 py-2">
                <%= course.title %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>