<div id="<%= dom_id section %>">
  <h3>Section</h3>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= section.title %>
  </p>

    <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= section.description %>
  </p>

  <p class="my-5">
    <%= link_to 'edit', edit_section_path(section), class: 'btn btn-sm btn-primary' %>
  </p>

  <p class="my-5">
    <%= button_to 'delete', section_path(section), method: :delete, class: 'btn btn-sm btn-danger' %>
  </p>

  <p class="my-5">
    <%= link_to 'new lesson', new_section_lesson_path(@section), class: 'btn btn-sm btn-info' %>
  </p>

  <p class="my-5">
    <%= link_to 'back', root_path, class: 'btn btn-sm btn-error' %>
  </p>

</div>