<div id="<%= dom_id lesson %>">
  <h3>Lesson</h3>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= lesson.title %>
  </p>

    <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= lesson.description %>
  </p>

  <p class="my-5"> 
    <strong class="block font-medium mb-1">Video:</strong>
    <% if lesson.video.attached? %>
      <%# videojs %>
      <video
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        poster="MY_VIDEO_POSTER.jpg"
        data-setup="{}"
      >
        <source src="<%= url_for(lesson.video) %>" type="video/mp4" />
      </video>
    <% else %>
      <p>No video attached.</p>
    <% end %>
    
  </p>

  <p class="my-5">
    <%= turbo_frame_tag 'edit-lesson' do %>
      <%= link_to 'edit', edit_lesson_path(lesson), class: 'btn btn-sm btn-primary' %>
    <% end %>
  </p>

  <p class="my-5">
    <%= button_to 'delete', lesson_path(lesson), method: :delete, class: 'btn btn-sm btn-danger'%>
  </p>

</div>

<%# render comments to specific lesson %>
<div id='comments'>
  <% if lesson.comments.any? %>
    <h3>Comments</h3>
      <div>
        <% lesson.comments.each do |comment| %>
          <%= comment.content %> by <i><%= comment.user.name %></i>
            <%# show created_at or updated_at %>
            <div>
              <%= comment.updated_at.utc.strftime("%c") %>
            </div>

            <%# only comment author can edit the comment %>
            <% if comment.user == current_user %>
              <div>
              <%= link_to 'Edit', edit_comment_path(comment), locals: { comment: @comment } %>
              <%= button_to 'Delete', comment_path, method: :delete %>
              </div>
            <% end %>
        <% end %>
      </div>
  <% else %>
    <p>No comments are available</p>
  <% end %>
</div>

<div id='new-comment'>
  <%# render comments/new form %>
  <%= render 'comments/form', locals: { lesson: @lesson} %>
</div>
