<div id="<%= dom_id lesson %>" class="p-4 mx-4">
  <div class="block">
    <h2 class="block text-2xl font-medium mb-2">Course: <%= lesson.section.course.title %></h2>
    <h3 class="block text-xl font-medium mb-2 px-2">Section: <%= lesson.section.title %></h3>
    <p class="block text-xl mb-8 px-4">Lesson: <%= lesson.id %></p>
  </div>

  <hr class="border-2 mb-4">

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/3 p-4">
      <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
        <div>
          <div class="my-5 flex items-center">
            <p class="font-medium mr-2">Lesson Title:</p>
            <p class="text-xl font-medium"><%= lesson.title %></p>
          </div>

          <div class="my-5 flex items-center">
            <p class="font-medium mr-2">Lesson Description:</p>
            <p class="text-gray-700"><%= lesson.description %></p>
          </div>
        </div>
      </div>

      <div class="flex justify-between">
        <p class="my-4">
          <% if policy(lesson).edit? %>
            <%= turbo_frame_tag 'edit-lesson' do %>
              <%= link_to 'edit', edit_lesson_path(lesson), class: 'inline-block px-4 py-2 leading-none border rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none' %>
            <% end %>
          <% end %>
        </p>

        <p class="my-4">
          <% if policy(lesson).destroy? %>
            <%= button_to 'delete', lesson_path(lesson), method: :delete, class: 'inline-block px-4 py-2 leading-none border rounded text-white bg-red-500 hover:bg-red-600 focus:outline-none m-3'%>
          <% end %>
        </p>
      </div>
    </div>
    <div class="w-full md:w-2/3 p-4">
      <div class="flex justify-center items-center">
        <% if lesson.video.attached? %>
          <%# videojs %>
          <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            poster="MY_VIDEO_POSTER.jpg"
            data-setup="{}"
          >
            <source src="<%= url_for(lesson.video) %>" type="video/mp4" />
          </video>
        <% else %>
          <p>No video attached.</p>
        <% end %>
      </div>
    </div>
  </div>

  <%# render two cols; comments to the left & qns to the right %>
  <div class="flex flex-col md:flex-row">
    <% if lesson.comments.any? %>
      <div class="w-full md:w-1/2 p-4">
        <h3 class="text-lg p-2">Comments Section</h3>
        <div class="bg-gray-200 rounded-lg shadow-lg p-4 m-4">
          <%= turbo_stream_from 'comments' %>
          <div class="mx-4">
            <% lesson.comments.each do |comment| %>
              <div class="my-2">
                <%= comment.content %>
                <div class="mx-2">
                  by <i><%= comment.user.name %></i> on <i><%= comment.updated_at.utc.strftime('%d-%b-%y') %></i>
                </div>
              </div>
              <%# only comment author can edit the comment %>
              <% if comment.user == current_user %>
                <div class="flex justify-end">
                  <%= turbo_frame_tag 'edit-comment' do %>
                    <div class="flex space-x-4">
                      <%= link_to 'Edit', edit_comment_path(comment), locals: { comment: @comment }, class: 'inline-block px-4 py-2 leading-none border rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none' %>
                      <%= button_to 'Delete', comment, method: :delete, data: {turbo_frame: '_top'}, class: 'inline-block px-4 py-2 leading-none border rounded text-white bg-red-500 hover:bg-red-600 focus:outline-none' %>
                    </div>
                  <% end %>
                </div>
          <% end %>
            <% end %>
          </div>
        </div>
        <div id='new-comment' class="m-4">
          <%# render comments/new form %>
          <%= render 'comments/form', locals: { lesson: @lesson} %>
        </div>
      </div>
    <% end %>

    <div class="w-full md:w-1/2 p-4">
      <% if lesson.questions.any? %>
        <h3 class="text-lg p-2">Questions & Answer Section</h3>
        <div class="bg-gray-200 rounded-lg shadow-lg p-4 m-4">
          <%= turbo_stream_from 'questions' %>
          <div id='questions'>

            <% @lesson.questions.each do |question| %>
              <%= turbo_frame_tag 'question' do %>
                <div class="m-2">
                  <%= link_to question.title, question %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div id='new-qn' class="m-4 flex justify-end">
        <%# new qn %>
        <%= turbo_frame_tag Question.new %>
        <%= link_to 'new qn', new_lesson_question_path(@lesson), class: 'inline-block px-4 py-2 leading-none border rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none', data: {turbo_frame: dom_id(Question.new)} %>
      </div>
    </div>
  </div>

</div>
