<div class="flex justify-center">
  <div class="w-full max-w-lg px-4">
    <div id="<%= dom_id course %>">
      <h3 class="text-lg font-bold mb-4">Course</h3>
      

      <div class="flex items-center my-5">
        <strong class="block font-medium mb-1 mr-2">Title:</strong>
        <p class="inline-block mb-0"><%= course.title %></p>
      </div>

      <div class="flex items-center my-5">
        <strong class="block font-medium mb-1 mr-2">Description:</strong>
        <p class="inline-block mb-0"><%= course.description %></p>
      </div>

      <div class="flex items-center my-5">
        <strong class="block font-medium mb-1 mr-2">Amount:</strong>
        <p class="inline-block mb-0"><%= course.amount %></p>
      </div>

      <p class="my-5">
        <%= turbo_frame_tag 'edit-course' do %>
          <%= link_to 'edit', edit_course_path(course), class: 'btn btn-sm btn-primary' %>
        <% end %>
      </p>

      <p class="my-5">
        <%= button_to 'delete', course_path(course), method: :delete, class: 'btn btn-sm btn-danger' %>
      </p>

      <p class="my-5">
        <%# empty frame %>
        <%= turbo_frame_tag Section.new %>
        <%= link_to 'new section', new_course_section_url(course) , class: 'btn btn-sm btn-info', data: {turbo_frame: dom_id(Section.new)} %>    
      </p>
    </div>
  </div>
</div>

