<div id="<%= dom_id course %>">
  <h3>Course</h3>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= course.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= course.description %>
  </p>

  <p class="my-5">
    <%= link_to 'edit', edit_course_path(course), class: 'btn btn-sm btn-primary' %>
  </p>

  <p class="my-5">
    <%= button_to 'delete', course_path(course), method: :delete, class: 'btn btn-sm btn-danger' %>
  </p>

  <p class="my-5">
    <%= link_to 'new section', new_course_section_url(@course) , class: 'btn btn-sm btn-info' %>
  </p>

  <%# subscribe to course %>
  <div>
    <% unless course.subscribed %>
      <%= link_to 'subscribe', new_course_subscription_url(@course), class: 'btn btn-sm btn-error' %>
    <% end %>
  </div>
</div>