<div>
  <div class="flex justify-center items-center">
    <div>
      <div class="flex items-center">
        <%# search %>
        <%= search_form_for @q, data: {turbo_frame: :courses} do |f| %>
          <div class="flex items-center">
            <%# # Search if the name field contains... %>
            <%= f.label :title_cont, 'Title: ', class: 'font-bold mr-2' %>
            <%= f.search_field :title_cont, oninput: 'this.form.requestSubmit()', autofocus: true, autocomplete: 'off', class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-accent focus:ring focus:ring-accent focus:ring-opacity-50' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <div class='p-4 px-8'>
      <h2 class='text-xl font-bold my-4'>Courses List</h2>
        <%# pagy nav %>
        <div class='m-3'>
          <%== pagy_nav(@pagy) %>
        </div>
        <div class=" px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4">
          <% @courses.each do |course| %>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden min-h-200">
              <div class="px-4 py-2">
                <%= link_to course.title, course %>
              </div>
              <div class="px-4 py-2">
                <i><%= course.description %></i>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <div class='p-4 px-4'>
      <%= turbo_frame_tag Course.new %>
      <%if policy(Course.new).new? %>
        <%= link_to 'new course', new_course_path , class: 'btn btn-sm btn-info', data: {turbo_frame: dom_id(Course.new)} %>
      <% end %>
  </div>
</div>

