<div class="flex justify-center">
  <div class="w-full max-w-lg px-4">
    <h1 class="text-2xl font-bold mb-4">Courses</h1> 

    <%# search %>
    <%= search_form_for @q, data: {turbo_frame: :courses} do |f| %>
      <%# # Search if the name field contains... %>
      <%= f.label :title_cont %>
      <%= f.search_field :title_cont, oninput: 'this.form.requestSubmit()', autofocus: true, autocomplete: 'off', class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-accent focus:ring focus:ring-accent focus:ring-opacity-50' %>
    <% end %>

    <%# pagy nav %>
    <div class='m-3'>
      <%== pagy_nav(@pagy) %>
    </div>

    <%# stream frm channel course %>
    <%= turbo_stream_from 'courses' %>

    <%= turbo_frame_tag :courses do %>
      <% @courses.each do |course| %>
        <div class='mb-3'>
          <%= link_to course.title, course %>
          <div class='ml-5'>
            <p><%= course.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class='m-3'>
      <%== pagy_nav(@pagy) %>
    </div>

    <%# empty frame for new course %>
    <%= turbo_frame_tag Course.new %>

    <div>
      <%if policy(Course.new).new? %>
        <%= link_to 'new course', new_course_path , class: 'btn btn-sm btn-info', data: {turbo_frame: dom_id(Course.new)} %>
      <% end %>
    </div>
  </div>
</div>
