<div>
  <%= render @course %>
</div>

<div>

  <div>
    <% if current_user.subscribed_to?(@course) && @course.sections.any? %>

      <h3><%= pluralize(@course.sections.count, 'section') %></h3>
      
      <%= turbo_frame_tag 'sections' do %>
        <%= link_to 'sections', course_sections_path(@course), class: 'btn btn-sm btn-accent' %>
      <% end %>
    <% end %>
  </div>

    <%# subscribe to course %>
  <div>
      <%= turbo_frame_tag 'subscribe' do %>
        <% unless current_user.subscribed_to?(@course) %>
          <%= link_to 'subscribe', new_course_subscription_url(@course), class: 'btn btn-sm btn-error' %>
        <% end %>
      <% end %>
  </div>
</div>
