<div>
  <%= render @course %>
</div>

<div>
  <%= link_to 'courses', courses_url, class: 'btn btn-sm btn-error' %>
</div>

<div>
  <h3><%= pluralize(@course.sections.count, 'section') %></h3>

  <div>
    <% unless @course.sections.nil? %>
      <% @course.sections.each do |section| %>
        <%= section.title %>
        <%= link_to 'show', section_path(section) , class: 'btn btn-sm btn-accent' %>
      <% end %>
    <% end %>
  </div>
</div>